<?php

declare(strict_types=1);

namespace Database;

// @todo delete 'Example' from class name. Input login data. 
abstract class ConnectionDetailsExample { 
    const HOST = '';
    const LOGIN = '';
    const PASSWORD = '';
    const DATABASE = '';
    const PORT = 3306;
}